.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: url("./images/youthBannerjpg.jpg") top 50% left 50% / cover repeat,
    linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.navbar:global(.__wab_instance) {
  width: 1691px;
}
.columns___53Xl {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-XUz8e-vtSO0-);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  align-self: flex-end;
  min-width: 0;
}
.columns___53Xl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns___53Xl > :global(.__wab_flex-container) > *,
.columns___53Xl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___53Xl > :global(.__wab_flex-container) > picture > img,
.columns___53Xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns___53Xl {
  --plsmc-rc-col-gap: 0px;
}
.columns___53Xl > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___53Xl > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___53Xl {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___53Xl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___53Xl > :global(.__wab_flex-container) > *,
  .columns___53Xl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___53Xl > :global(.__wab_flex-container) > picture > img,
  .columns___53Xl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___53Xl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2Y3Xd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tCnIe {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__tCnIe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tCnIe > :global(.__wab_flex-container) > *,
.freeBox__tCnIe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tCnIe > :global(.__wab_flex-container) > picture > img,
.freeBox__tCnIe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gknN {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gknN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gknN > :global(.__wab_flex-container) > *,
.freeBox__gknN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gknN > :global(.__wab_flex-container) > picture > img,
.freeBox__gknN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bFxao {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text___0Tc2R {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-50969-QTDPv1);
  background: #ffffff;
  padding: 4px 8px;
}
.text__bqoi9 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-_hdGLw5ER-Ob);
  box-shadow: 0px 4px 16px 0px var(--token-M6vPyqJusmVR);
  background: var(--token-M6vPyqJusmVR);
  border-radius: 10px;
}
.h2__aYbjO {
  text-align: center;
}
.text__nqDdq {
  font-size: 20px;
  color: var(--token-50969-QTDPv1);
  line-height: 28px;
  background: var(--token-M6vPyqJusmVR);
  border-radius: 10px;
}
.h3 {
  text-align: center;
  color: var(--token-tLUyRj-scvy6);
}
.freeBox__g28Us {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__g28Us > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__g28Us > :global(.__wab_flex-container) > *,
.freeBox__g28Us > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g28Us > :global(.__wab_flex-container) > picture > img,
.freeBox__g28Us
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__gL7Wo:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg___1SMbP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__eIboz {
  height: auto;
  padding-bottom: 0px;
}
.svg__a9Tph {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fuHfW:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__jYt9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__d1B6S {
  height: auto;
  font-weight: 400;
}
.svg__mAxPm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__xVEsm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
  opacity: 0.8;
  align-self: flex-end;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__bZrNp {
  max-width: var(--token-XUz8e-vtSO0-);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__bZrNp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bZrNp > :global(.__wab_flex-container) > *,
.freeBox__bZrNp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bZrNp > :global(.__wab_flex-container) > picture > img,
.freeBox__bZrNp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tky1D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__tddVw {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-_hdGLw5ER-Ob);
  line-height: 1;
}
.text__wGtlD {
  font-size: 20px;
  color: var(--token-50969-QTDPv1);
  text-align: left;
  line-height: 28px;
}
.freeBox__pHe6 {
  max-width: var(--token-XUz8e-vtSO0-);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__pHe6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__pHe6 > :global(.__wab_flex-container) > *,
.freeBox__pHe6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pHe6 > :global(.__wab_flex-container) > picture > img,
.freeBox__pHe6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pHe6 {
    max-width: var(--token-XUz8e-vtSO0-);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pHe6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pHe6 > :global(.__wab_flex-container) > *,
  .freeBox__pHe6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pHe6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__pHe6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__cIch0 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cIch0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__cIch0 > :global(.__wab_flex-container) > *,
.freeBox__cIch0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cIch0 > :global(.__wab_flex-container) > picture > img,
.freeBox__cIch0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cIch0 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cIch0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cIch0 > :global(.__wab_flex-container) > *,
  .freeBox__cIch0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cIch0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__cIch0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__g7JQ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xxYO {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__wg4SS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bCGu5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__r625J:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__t5Coi {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__dKtUg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cgfTn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__jjN1Y {
  height: auto;
}
.freeBox__xph96 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__xph96 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__xph96 > :global(.__wab_flex-container) > *,
.freeBox__xph96 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xph96 > :global(.__wab_flex-container) > picture > img,
.freeBox__xph96
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xph96 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xph96 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xph96 > :global(.__wab_flex-container) > *,
  .freeBox__xph96 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xph96 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xph96
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__g7B8K:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xrReh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__eiA {
  height: auto;
}
.valueProp___0R1Op:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mTcG {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__kuedT:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__def4U {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__pVoZ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rOrGg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__zPtyJ {
  max-width: var(--token-XUz8e-vtSO0-);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__zPtyJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__zPtyJ > :global(.__wab_flex-container) > *,
.columns__zPtyJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zPtyJ > :global(.__wab_flex-container) > picture > img,
.columns__zPtyJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__zPtyJ {
  --plsmc-rc-col-gap: 0px;
}
.columns__zPtyJ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__zPtyJ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zPtyJ {
    max-width: var(--token-XUz8e-vtSO0-);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zPtyJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    --plsmc-rc-col-gap: 64px;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zPtyJ > :global(.__wab_flex-container) > *,
  .columns__zPtyJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__zPtyJ > :global(.__wab_flex-container) > picture > img,
  .columns__zPtyJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zPtyJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eax65 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ylwXe {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ylwXe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ylwXe > :global(.__wab_flex-container) > *,
.freeBox__ylwXe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ylwXe > :global(.__wab_flex-container) > picture > img,
.freeBox__ylwXe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__mxeRw {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-1J2YuyYOf4pL);
}
.h2__lj2Xu {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-UbvsGJ1C-BXT);
  line-height: 1;
}
.text__ugSPp {
  font-size: 20px;
  color: var(--token-vLax2lamgdgi);
  line-height: 28px;
  height: auto;
}
.button__j8Os:global(.__wab_instance) {
  position: relative;
}
.svg__zqYQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___0QClF {
  color: var(--token-uDI8QbivV2Qz);
}
.svg__vcHcH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-uDI8QbivV2Qz);
}
.column__labiV {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bnIEc {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__wyN9W:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__wyN9W:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text___5UcbA {
  color: var(--token-UbvsGJ1C-BXT);
}
.svg__oyLIn {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-1J2YuyYOf4pL);
}
.listItem___9NEdp:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___0MM8E {
  color: var(--token-UbvsGJ1C-BXT);
}
.svg__k9ORl {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-1J2YuyYOf4pL);
}
.listItem__sJnP9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__wgRsr {
  height: auto;
  color: var(--token-UbvsGJ1C-BXT);
}
.svg__g3UN {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-1J2YuyYOf4pL);
}
.listItem__kf3Jt:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__lNdXn {
  height: auto;
  color: var(--token-UbvsGJ1C-BXT);
}
.svg__jCjF {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-1J2YuyYOf4pL);
}
.listItem__eLyHq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__vO9Zp {
  height: auto;
  color: var(--token-UbvsGJ1C-BXT);
}
.svg__z02Nu {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-1J2YuyYOf4pL);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__czquL {
  max-width: var(--token-XUz8e-vtSO0-);
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__czquL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__czquL > :global(.__wab_flex-container) > *,
.freeBox__czquL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__czquL > :global(.__wab_flex-container) > picture > img,
.freeBox__czquL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__czquL {
    max-width: var(--token-XUz8e-vtSO0-);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__czquL > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__czquL > :global(.__wab_flex-container) > *,
  .freeBox__czquL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__czquL > :global(.__wab_flex-container) > picture > img,
  .freeBox__czquL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__mzdds {
  display: flex;
  flex-direction: column;
}
.freeBox__mzdds > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mzdds > :global(.__wab_flex-container) > *,
.freeBox__mzdds > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mzdds > :global(.__wab_flex-container) > picture > img,
.freeBox__mzdds
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__sG3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__uzEmO {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-UbvsGJ1C-BXT);
  line-height: 1;
}
.text__o7I51 {
  font-size: 20px;
  color: var(--token-vLax2lamgdgi);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__giqjt {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__giqjt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__giqjt {
  --plsmc-rc-col-gap: 0px;
}
.columns__giqjt > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__giqjt > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__giqjt > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__giqjt {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__giqjt > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__giqjt > :global(.__wab_flex-container) > *,
  .columns__giqjt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__giqjt > :global(.__wab_flex-container) > picture > img,
  .columns__giqjt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__giqjt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2EgRv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___8WRej:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard___8WRej:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__q8PSp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vRLxi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fb5HC:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__padnx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__wm0D {
  height: auto;
}
.column___5ZiP6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__s7Tt3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__oUEwE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__d0Rwg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vOfEj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__aFjgC {
  height: auto;
}
.svg__q61Vl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__rRcSb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cLa7M {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gvzlP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__wlFZh {
  height: auto;
}
.svg__h36D1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___8GYg {
  height: auto;
}
.column___8Vtlq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___5Bq94:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard___5Bq94:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__ayPz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dYmmu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bgH3T:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ynbZ6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__zVrzz {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.freeBox__f9MMg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__f9MMg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__f9MMg > :global(.__wab_flex-container) > *,
.freeBox__f9MMg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f9MMg > :global(.__wab_flex-container) > picture > img,
.freeBox__f9MMg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f9MMg {
    position: relative;
  }
}
.text__zZK2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nMtt {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-bDsoknfc7Azd);
  line-height: 1;
  height: auto;
}
.svg__hRgJk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___2Anjs {
  height: auto;
  width: auto;
}
.svg__jq2Wz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__p9PAs {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__p9PAs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__p9PAs > :global(.__wab_flex-container) > *,
.freeBox__p9PAs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p9PAs > :global(.__wab_flex-container) > picture > img,
.freeBox__p9PAs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p9PAs {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p9PAs > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p9PAs > :global(.__wab_flex-container) > *,
  .freeBox__p9PAs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__p9PAs > :global(.__wab_flex-container) > picture > img,
  .freeBox__p9PAs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__oFqfs {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__fztpK {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-bDsoknfc7Azd);
  line-height: 1;
  height: auto;
}
.svg__i1870 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___93Mli {
  height: auto;
  width: auto;
}
.svg__wkTab {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__fbxHn:global(.__wab_instance) {
  position: relative;
}
.text__b49JK {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__h12My {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-bDsoknfc7Azd);
  line-height: 1;
  height: auto;
}
.svg__xlgpu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vpr4 {
  height: auto;
  width: auto;
}
.svg___6VkJo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__oY4T4 {
  max-width: var(--token-XUz8e-vtSO0-);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox__oY4T4 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__oY4T4 > :global(.__wab_flex-container) > *,
.freeBox__oY4T4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oY4T4 > :global(.__wab_flex-container) > picture > img,
.freeBox__oY4T4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img___15Ban {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___15Ban > picture > img {
  object-fit: cover;
}
.img___15Ban > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ifjnj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ifjnj > picture > img {
  object-fit: cover;
}
.img__ifjnj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__p4P8Z {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__p4P8Z > picture > img {
  object-fit: cover;
}
.img__p4P8Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__dHgAq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__dHgAq > picture > img {
  object-fit: cover;
}
.img__dHgAq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__qaVf7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__qaVf7 > picture > img {
  object-fit: cover;
}
.img__qaVf7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__f4H1B {
  max-width: var(--token-XUz8e-vtSO0-);
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__f4H1B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__f4H1B > :global(.__wab_flex-container) > *,
.columns__f4H1B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__f4H1B > :global(.__wab_flex-container) > picture > img,
.columns__f4H1B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.columns__f4H1B {
  --plsmc-rc-col-gap: 0px;
}
.columns__f4H1B > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__f4H1B > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__f4H1B > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f4H1B {
    max-width: var(--token-XUz8e-vtSO0-);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f4H1B > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    --plsmc-rc-col-gap: 32px;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f4H1B > :global(.__wab_flex-container) > *,
  .columns__f4H1B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__f4H1B > :global(.__wab_flex-container) > picture > img,
  .columns__f4H1B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f4H1B > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xlYBl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__qXWiy:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__uj2Sp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___439Nk:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__apjLn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___0QLeJ:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__h3Z2 {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__oKr3U {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oKr3U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oKr3U > :global(.__wab_flex-container) > *,
.freeBox__oKr3U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oKr3U > :global(.__wab_flex-container) > picture > img,
.freeBox__oKr3U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__nvVCo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-UbvsGJ1C-BXT);
}
.text__uwiZ8 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-UbvsGJ1C-BXT);
  line-height: 1;
}
.text___28QzW {
  font-size: 20px;
  color: var(--token-vLax2lamgdgi);
  line-height: 28px;
}
.freeBox__jwZa8 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jwZa8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jwZa8 > :global(.__wab_flex-container) > *,
.freeBox__jwZa8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jwZa8 > :global(.__wab_flex-container) > picture > img,
.freeBox__jwZa8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__tBjGg:global(.__wab_instance) {
  position: relative;
}
.svg__rLf53 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___53AV8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___0CMes:global(.__wab_instance) {
  position: relative;
}
.svg__tuPuB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__lcQr {
  height: auto;
  font-weight: 400;
}
.svg__pMoBw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
