@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-qT5d1THBUpu9: #007aff;
  --plasmic-token-blue: var(--token-qT5d1THBUpu9);
  --token-XUz8e-vtSO0-: 1080px;
  --plasmic-token-content-max-width: var(--token-XUz8e-vtSO0-);
  --token--Ww6iA9mkIqO: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token--Ww6iA9mkIqO);
  --token-n0_76W10zi2W: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-n0_76W10zi2W);
  --token-bDsoknfc7Azd: #000000d9;
  --plasmic-token-light-label: var(--token-bDsoknfc7Azd);
  --token-50969-QTDPv1: #05050599;
  --plasmic-token-light-secondary: var(--token-50969-QTDPv1);
  --token-pSyZSJGrNqFY: #007aff;
  --plasmic-token-light-blue: var(--token-pSyZSJGrNqFY);
  --token-_hdGLw5ER-Ob: #ff3b30;
  --plasmic-token-light-red: var(--token-_hdGLw5ER-Ob);
  --token--O_I-j2KGPnA: #ffffff;
  --plasmic-token-white: var(--token--O_I-j2KGPnA);
  --token-UbvsGJ1C-BXT: #ffffffd9;
  --plasmic-token-dark-label: var(--token-UbvsGJ1C-BXT);
  --token-vLax2lamgdgi: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-vLax2lamgdgi);
  --token-M6vPyqJusmVR: #0000001a;
  --plasmic-token-light-quarternary: var(--token-M6vPyqJusmVR);
  --token-soe6PxyBWDK9: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-soe6PxyBWDK9);
  --token-1J2YuyYOf4pL: #32d74b;
  --plasmic-token-dark-green: var(--token-1J2YuyYOf4pL);
  --token-uDI8QbivV2Qz: #0a84ff;
  --plasmic-token-dark-blue: var(--token-uDI8QbivV2Qz);
  --token-nXAIos_4UQVg: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-nXAIos_4UQVg);
  --token-TS2yceuy5X0U: #34c759;
  --plasmic-token-light-green: var(--token-TS2yceuy5X0U);
  --token-tLUyRj-scvy6: #5856d6;
  --plasmic-token-light-indigo: var(--token-tLUyRj-scvy6);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-fLM8vuFSfq3w_font-family: "Roboto", sans-serif;
  --mixin-fLM8vuFSfq3w_font-size: 16px;
  --mixin-fLM8vuFSfq3w_font-weight: 400;
  --mixin-fLM8vuFSfq3w_font-style: normal;
  --mixin-fLM8vuFSfq3w_color: var(--token-bDsoknfc7Azd);
  --mixin-fLM8vuFSfq3w_text-align: left;
  --mixin-fLM8vuFSfq3w_text-transform: none;
  --mixin-fLM8vuFSfq3w_line-height: 1.5;
  --mixin-fLM8vuFSfq3w_letter-spacing: normal;
  --mixin-fLM8vuFSfq3w_white-space: pre-wrap;
  --mixin-fLM8vuFSfq3w_user-select: text;
  --mixin-fLM8vuFSfq3w_text-decoration-line: none;
  --mixin-fLM8vuFSfq3w_text-overflow: clip;
  --mixin-Sd3gDjMpAOJG_white-space: pre-wrap;
  --mixin-UhnGvLPXOGcH_font-family: "Inter", sans-serif;
  --mixin-UhnGvLPXOGcH_color: #000000;
  --mixin-UhnGvLPXOGcH_font-size: 72px;
  --mixin-UhnGvLPXOGcH_font-weight: 900;
  --mixin-UhnGvLPXOGcH_letter-spacing: -4px;
  --mixin-UhnGvLPXOGcH_line-height: 1;
  --mixin-UhnGvLPXOGcH_white-space: pre-wrap;
  --mixin-vlokXcTR4sOB_font-family: "Inter", sans-serif;
  --mixin-vlokXcTR4sOB_color: #000000;
  --mixin-vlokXcTR4sOB_font-size: 32px;
  --mixin-vlokXcTR4sOB_font-weight: 600;
  --mixin-vlokXcTR4sOB_letter-spacing: -0.8px;
  --mixin-vlokXcTR4sOB_line-height: 1.2;
  --mixin-vlokXcTR4sOB_white-space: pre-wrap;
  --mixin-Yg7HDQ_-Y4Vw_font-family: "Inter", sans-serif;
  --mixin-Yg7HDQ_-Y4Vw_color: #000000;
  --mixin-Yg7HDQ_-Y4Vw_font-size: 24px;
  --mixin-Yg7HDQ_-Y4Vw_font-weight: 600;
  --mixin-Yg7HDQ_-Y4Vw_letter-spacing: -0.5px;
  --mixin-Yg7HDQ_-Y4Vw_line-height: 1.3;
  --mixin-Yg7HDQ_-Y4Vw_white-space: pre-wrap;
  --mixin-hfdwCQJsxPyK_font-family: "Inter", sans-serif;
  --mixin-hfdwCQJsxPyK_color: #000000;
  --mixin-hfdwCQJsxPyK_font-size: 20px;
  --mixin-hfdwCQJsxPyK_font-weight: 600;
  --mixin-hfdwCQJsxPyK_letter-spacing: -0.3px;
  --mixin-hfdwCQJsxPyK_line-height: 1.5;
  --mixin-hfdwCQJsxPyK_white-space: pre-wrap;
  --mixin-IBuaPTBmdOaI_font-family: "Inter", sans-serif;
  --mixin-IBuaPTBmdOaI_color: #000000;
  --mixin-IBuaPTBmdOaI_font-size: 16px;
  --mixin-IBuaPTBmdOaI_font-weight: 600;
  --mixin-IBuaPTBmdOaI_line-height: 1.5;
  --mixin-IBuaPTBmdOaI_white-space: pre-wrap;
  --mixin-NVwKBYeKrnV1_border-left-color: #dddddd;
  --mixin-NVwKBYeKrnV1_border-left-style: solid;
  --mixin-NVwKBYeKrnV1_border-left-width: 3px;
  --mixin-NVwKBYeKrnV1_color: #888888;
  --mixin-NVwKBYeKrnV1_padding-left: 10px;
  --mixin-NVwKBYeKrnV1_white-space: pre-wrap;
  --mixin--ljwA8NKRYOq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--ljwA8NKRYOq_border-bottom-color: #dddddd;
  --mixin--ljwA8NKRYOq_border-bottom-style: solid;
  --mixin--ljwA8NKRYOq_border-bottom-width: 1px;
  --mixin--ljwA8NKRYOq_border-left-color: #dddddd;
  --mixin--ljwA8NKRYOq_border-left-style: solid;
  --mixin--ljwA8NKRYOq_border-left-width: 1px;
  --mixin--ljwA8NKRYOq_border-right-color: #dddddd;
  --mixin--ljwA8NKRYOq_border-right-style: solid;
  --mixin--ljwA8NKRYOq_border-right-width: 1px;
  --mixin--ljwA8NKRYOq_border-top-color: #dddddd;
  --mixin--ljwA8NKRYOq_border-top-style: solid;
  --mixin--ljwA8NKRYOq_border-top-width: 1px;
  --mixin--ljwA8NKRYOq_border-bottom-left-radius: 3px;
  --mixin--ljwA8NKRYOq_border-bottom-right-radius: 3px;
  --mixin--ljwA8NKRYOq_border-top-left-radius: 3px;
  --mixin--ljwA8NKRYOq_border-top-right-radius: 3px;
  --mixin--ljwA8NKRYOq_font-family: "Inconsolata";
  --mixin--ljwA8NKRYOq_padding-bottom: 1px;
  --mixin--ljwA8NKRYOq_padding-left: 4px;
  --mixin--ljwA8NKRYOq_padding-right: 4px;
  --mixin--ljwA8NKRYOq_padding-top: 1px;
  --mixin--ljwA8NKRYOq_white-space: pre-wrap;
  --mixin-r36ojnugj8w-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-r36ojnugj8w-_border-bottom-color: #dddddd;
  --mixin-r36ojnugj8w-_border-bottom-style: solid;
  --mixin-r36ojnugj8w-_border-bottom-width: 1px;
  --mixin-r36ojnugj8w-_border-left-color: #dddddd;
  --mixin-r36ojnugj8w-_border-left-style: solid;
  --mixin-r36ojnugj8w-_border-left-width: 1px;
  --mixin-r36ojnugj8w-_border-right-color: #dddddd;
  --mixin-r36ojnugj8w-_border-right-style: solid;
  --mixin-r36ojnugj8w-_border-right-width: 1px;
  --mixin-r36ojnugj8w-_border-top-color: #dddddd;
  --mixin-r36ojnugj8w-_border-top-style: solid;
  --mixin-r36ojnugj8w-_border-top-width: 1px;
  --mixin-r36ojnugj8w-_border-bottom-left-radius: 3px;
  --mixin-r36ojnugj8w-_border-bottom-right-radius: 3px;
  --mixin-r36ojnugj8w-_border-top-left-radius: 3px;
  --mixin-r36ojnugj8w-_border-top-right-radius: 3px;
  --mixin-r36ojnugj8w-_font-family: "Inconsolata";
  --mixin-r36ojnugj8w-_padding-bottom: 3px;
  --mixin-r36ojnugj8w-_padding-left: 6px;
  --mixin-r36ojnugj8w-_padding-right: 6px;
  --mixin-r36ojnugj8w-_padding-top: 3px;
  --mixin-r36ojnugj8w-_white-space: pre-wrap;
  --mixin-wa_hVlKUQ3G3_display: flex;
  --mixin-wa_hVlKUQ3G3_flex-direction: column;
  --mixin-wa_hVlKUQ3G3_align-items: stretch;
  --mixin-wa_hVlKUQ3G3_justify-content: flex-start;
  --mixin-wa_hVlKUQ3G3_list-style-position: outside;
  --mixin-wa_hVlKUQ3G3_padding-left: 40px;
  --mixin-wa_hVlKUQ3G3_position: relative;
  --mixin-wa_hVlKUQ3G3_list-style-type: decimal;
  --mixin-wa_hVlKUQ3G3_white-space: pre-wrap;
  --mixin-wkW4M6feOiUT_display: flex;
  --mixin-wkW4M6feOiUT_flex-direction: column;
  --mixin-wkW4M6feOiUT_align-items: stretch;
  --mixin-wkW4M6feOiUT_justify-content: flex-start;
  --mixin-wkW4M6feOiUT_list-style-position: outside;
  --mixin-wkW4M6feOiUT_padding-left: 40px;
  --mixin-wkW4M6feOiUT_position: relative;
  --mixin-wkW4M6feOiUT_list-style-type: disc;
  --mixin-wkW4M6feOiUT_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-p2FSPTZtbdh0_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-p2FSPTZtbdh0_box-shadow);
  --mixin-4IvTTQTzZ5yI_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-4IvTTQTzZ5yI_box-shadow
  );
  --mixin-T-8VNBZC4RSj_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-T-8VNBZC4RSj_box-shadow
  );
  --mixin-sbNeUL1BaRvS_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-sbNeUL1BaRvS_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-fLM8vuFSfq3w_font-family);
  font-size: var(--mixin-fLM8vuFSfq3w_font-size);
  font-weight: var(--mixin-fLM8vuFSfq3w_font-weight);
  font-style: var(--mixin-fLM8vuFSfq3w_font-style);
  color: var(--mixin-fLM8vuFSfq3w_color);
  text-align: var(--mixin-fLM8vuFSfq3w_text-align);
  text-transform: var(--mixin-fLM8vuFSfq3w_text-transform);
  line-height: var(--mixin-fLM8vuFSfq3w_line-height);
  letter-spacing: var(--mixin-fLM8vuFSfq3w_letter-spacing);
  white-space: var(--mixin-fLM8vuFSfq3w_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-UhnGvLPXOGcH_font-family);
  color: var(--mixin-UhnGvLPXOGcH_color);
  font-size: var(--mixin-UhnGvLPXOGcH_font-size);
  font-weight: var(--mixin-UhnGvLPXOGcH_font-weight);
  letter-spacing: var(--mixin-UhnGvLPXOGcH_letter-spacing);
  line-height: var(--mixin-UhnGvLPXOGcH_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-vlokXcTR4sOB_font-family);
  color: var(--mixin-vlokXcTR4sOB_color);
  font-size: var(--mixin-vlokXcTR4sOB_font-size);
  font-weight: var(--mixin-vlokXcTR4sOB_font-weight);
  letter-spacing: var(--mixin-vlokXcTR4sOB_letter-spacing);
  line-height: var(--mixin-vlokXcTR4sOB_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-Yg7HDQ_-Y4Vw_font-family);
  color: var(--mixin-Yg7HDQ_-Y4Vw_color);
  font-size: var(--mixin-Yg7HDQ_-Y4Vw_font-size);
  font-weight: var(--mixin-Yg7HDQ_-Y4Vw_font-weight);
  letter-spacing: var(--mixin-Yg7HDQ_-Y4Vw_letter-spacing);
  line-height: var(--mixin-Yg7HDQ_-Y4Vw_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-hfdwCQJsxPyK_font-family);
  color: var(--mixin-hfdwCQJsxPyK_color);
  font-size: var(--mixin-hfdwCQJsxPyK_font-size);
  font-weight: var(--mixin-hfdwCQJsxPyK_font-weight);
  letter-spacing: var(--mixin-hfdwCQJsxPyK_letter-spacing);
  line-height: var(--mixin-hfdwCQJsxPyK_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-IBuaPTBmdOaI_font-family);
  color: var(--mixin-IBuaPTBmdOaI_color);
  font-size: var(--mixin-IBuaPTBmdOaI_font-size);
  font-weight: var(--mixin-IBuaPTBmdOaI_font-weight);
  line-height: var(--mixin-IBuaPTBmdOaI_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-NVwKBYeKrnV1_color);
  padding-left: var(--mixin-NVwKBYeKrnV1_padding-left);
  border-left: var(--mixin-NVwKBYeKrnV1_border-left-width)
    var(--mixin-NVwKBYeKrnV1_border-left-style)
    var(--mixin-NVwKBYeKrnV1_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--ljwA8NKRYOq_font-family);
  border-radius: var(--mixin--ljwA8NKRYOq_border-top-left-radius)
    var(--mixin--ljwA8NKRYOq_border-top-right-radius)
    var(--mixin--ljwA8NKRYOq_border-bottom-right-radius)
    var(--mixin--ljwA8NKRYOq_border-bottom-left-radius);
  padding: var(--mixin--ljwA8NKRYOq_padding-top)
    var(--mixin--ljwA8NKRYOq_padding-right)
    var(--mixin--ljwA8NKRYOq_padding-bottom)
    var(--mixin--ljwA8NKRYOq_padding-left);
  border-top: var(--mixin--ljwA8NKRYOq_border-top-width)
    var(--mixin--ljwA8NKRYOq_border-top-style)
    var(--mixin--ljwA8NKRYOq_border-top-color);
  border-right: var(--mixin--ljwA8NKRYOq_border-right-width)
    var(--mixin--ljwA8NKRYOq_border-right-style)
    var(--mixin--ljwA8NKRYOq_border-right-color);
  border-bottom: var(--mixin--ljwA8NKRYOq_border-bottom-width)
    var(--mixin--ljwA8NKRYOq_border-bottom-style)
    var(--mixin--ljwA8NKRYOq_border-bottom-color);
  border-left: var(--mixin--ljwA8NKRYOq_border-left-width)
    var(--mixin--ljwA8NKRYOq_border-left-style)
    var(--mixin--ljwA8NKRYOq_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-r36ojnugj8w-_font-family);
  border-radius: var(--mixin-r36ojnugj8w-_border-top-left-radius)
    var(--mixin-r36ojnugj8w-_border-top-right-radius)
    var(--mixin-r36ojnugj8w-_border-bottom-right-radius)
    var(--mixin-r36ojnugj8w-_border-bottom-left-radius);
  padding: var(--mixin-r36ojnugj8w-_padding-top)
    var(--mixin-r36ojnugj8w-_padding-right)
    var(--mixin-r36ojnugj8w-_padding-bottom)
    var(--mixin-r36ojnugj8w-_padding-left);
  border-top: var(--mixin-r36ojnugj8w-_border-top-width)
    var(--mixin-r36ojnugj8w-_border-top-style)
    var(--mixin-r36ojnugj8w-_border-top-color);
  border-right: var(--mixin-r36ojnugj8w-_border-right-width)
    var(--mixin-r36ojnugj8w-_border-right-style)
    var(--mixin-r36ojnugj8w-_border-right-color);
  border-bottom: var(--mixin-r36ojnugj8w-_border-bottom-width)
    var(--mixin-r36ojnugj8w-_border-bottom-style)
    var(--mixin-r36ojnugj8w-_border-bottom-color);
  border-left: var(--mixin-r36ojnugj8w-_border-left-width)
    var(--mixin-r36ojnugj8w-_border-left-style)
    var(--mixin-r36ojnugj8w-_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-wa_hVlKUQ3G3_display);
  flex-direction: var(--mixin-wa_hVlKUQ3G3_flex-direction);
  align-items: var(--mixin-wa_hVlKUQ3G3_align-items);
  justify-content: var(--mixin-wa_hVlKUQ3G3_justify-content);
  list-style-position: var(--mixin-wa_hVlKUQ3G3_list-style-position);
  padding-left: var(--mixin-wa_hVlKUQ3G3_padding-left);
  position: var(--mixin-wa_hVlKUQ3G3_position);
  list-style-type: var(--mixin-wa_hVlKUQ3G3_list-style-type);
  flex-column-gap: var(--mixin-wa_hVlKUQ3G3_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-wkW4M6feOiUT_display);
  flex-direction: var(--mixin-wkW4M6feOiUT_flex-direction);
  align-items: var(--mixin-wkW4M6feOiUT_align-items);
  justify-content: var(--mixin-wkW4M6feOiUT_justify-content);
  list-style-position: var(--mixin-wkW4M6feOiUT_list-style-position);
  padding-left: var(--mixin-wkW4M6feOiUT_padding-left);
  position: var(--mixin-wkW4M6feOiUT_position);
  list-style-type: var(--mixin-wkW4M6feOiUT_list-style-type);
  flex-column-gap: var(--mixin-wkW4M6feOiUT_flex-column-gap);
}
