.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__t4RQm {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.freeBox__t4RQm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__t4RQm > :global(.__wab_flex-container) > *,
.freeBox__t4RQm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t4RQm > :global(.__wab_flex-container) > picture > img,
.freeBox__t4RQm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t4RQm {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t4RQm > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__qipos {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__qipos > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__qipos > :global(.__wab_flex-container) > *,
.freeBox__qipos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qipos > :global(.__wab_flex-container) > picture > img,
.freeBox__qipos
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qipos {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qipos > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qipos > :global(.__wab_flex-container) > *,
  .freeBox__qipos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qipos > :global(.__wab_flex-container) > picture > img,
  .freeBox__qipos
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.link__txXBl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 0px;
}
.img {
  object-fit: contain;
  width: 100%;
  height: 78px;
  object-position: left 50%;
  max-width: 78px;
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
  object-position: left 50%;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: contain;
  object-position: left 50%;
}
.freeBox__p7SwK {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__p7SwK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__p7SwK > :global(.__wab_flex-container) > *,
.freeBox__p7SwK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p7SwK > :global(.__wab_flex-container) > picture > img,
.freeBox__p7SwK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p7SwK > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p7SwK > :global(.__wab_flex-container) > *,
  .freeBox__p7SwK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__p7SwK > :global(.__wab_flex-container) > picture > img,
  .freeBox__p7SwK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.aboutUs {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.aboutUs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.aboutUs > :global(.__wab_flex-container) > *,
.aboutUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutUs > :global(.__wab_flex-container) > picture > img,
.aboutUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__zztsc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__vh5X {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__ow3EO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__oHUg {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__oHUg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__oHUg > :global(.__wab_flex-container) > *,
.link__oHUg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__oHUg > :global(.__wab_flex-container) > picture > img,
.link__oHUg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rpJxz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nvfJi {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__uidZr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__zF4QO {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__zF4QO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__zF4QO > :global(.__wab_flex-container) > *,
.link__zF4QO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__zF4QO > :global(.__wab_flex-container) > picture > img,
.link__zF4QO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__qS4Mv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___2ZjA {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__hn0Xr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__cEkEn {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__cEkEn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__cEkEn > :global(.__wab_flex-container) > *,
.link__cEkEn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__cEkEn > :global(.__wab_flex-container) > picture > img,
.link__cEkEn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__hfrJd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__bBi5S {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__wc4Kt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__jf9Kd {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__jf9Kd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__jf9Kd > :global(.__wab_flex-container) > *,
.link__jf9Kd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__jf9Kd > :global(.__wab_flex-container) > picture > img,
.link__jf9Kd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__wfyPv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.contact {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__pwd8C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("./images/chinaEthnicMinoritieSjpg.jpg") right 0px top 50% / cover no-repeat fixed;
  margin-bottom: 0px;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner {
    padding-bottom: 56px;
    padding-top: 50px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mq7Op {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mq7Op > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mq7Op > :global(.__wab_flex-container) > *,
.freeBox__mq7Op > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mq7Op > :global(.__wab_flex-container) > picture > img,
.freeBox__mq7Op
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 30px;
    padding-bottom: 0px;
  }
}
.clientsSection5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
  padding: 47px 16px 20px;
}
.clientsSection5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.clientsSection5 > :global(.__wab_flex-container) > *,
.clientsSection5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.clientsSection5 > :global(.__wab_flex-container) > picture > img,
.clientsSection5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .clientsSection5 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .clientsSection5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__xciFe {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  background: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__xciFe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xciFe > :global(.__wab_flex-container) > *,
.freeBox__xciFe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xciFe > :global(.__wab_flex-container) > picture > img,
.freeBox__xciFe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xciFe {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xciFe > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xciFe > :global(.__wab_flex-container) > *,
  .freeBox__xciFe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xciFe > :global(.__wab_flex-container) > picture > img,
  .freeBox__xciFe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.columns__ixwhu {
  --plsmc-rc-col-gap: 0px;
}
.columns__ixwhu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 42px 8px 36px;
}
.columns__ixwhu > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ixwhu {
    padding: 0px;
  }
}
.column__nfL50 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: #ffffff;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 26px 26px 35px;
}
.text___4HhoW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 857px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4HhoW {
    font-size: 15px;
  }
}
.column__rHxpp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 33px;
}
.columns__alint {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__alint > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__alint > :global(.__wab_flex-container) > *,
.columns__alint > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__alint > :global(.__wab_flex-container) > picture > img,
.columns__alint
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__alint {
  --plsmc-rc-col-gap: 0px;
}
.columns__alint > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns__alint > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__alint {
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__alint > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__alint > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5Kavl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#292c2cd9, #292c2cd9),
    url("./images/image3.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.formWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .formWrapper {
    padding: 0px;
  }
}
.columns___5AvEh {
  --plsmc-rc-col-gap: 0px;
}
.columns___5AvEh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___5AvEh > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___5AvEh > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5AvEh {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5AvEh > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2NKwa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__goEI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__nxk0U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__opHuM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__rlwGd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___36Lk4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg___4P3Hd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nDg48 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__kvvww {
  --plsmc-rc-col-gap: 0px;
}
.columns__kvvww {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kvvww > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__kvvww > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kvvww {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kvvww > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tcdOh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__asXpg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__gFg3C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___0Blhh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___5Zvl9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___75X5Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.name3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__znAtg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fky2U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__c3PhI {
  --plsmc-rc-col-gap: 0px;
}
.columns__c3PhI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__c3PhI > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__cqxH5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ov9Ut {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 22px;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.button__sDgrH:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wl4Hd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nacpl {
  color: #292d2f;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 26px;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__x06Sb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ttKy0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(#ffffff96, #ffffff96),
    url("./images/chinaEthnicMinoritieSjpg.jpg") top 50% right 30% / cover repeat scroll;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 8px 8px 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ttKy0 {
    background: #ffffff96;
    padding: 20px;
  }
}
.freeBox__zPzff {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zPzff > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__zPzff > :global(.__wab_flex-container) > *,
.freeBox__zPzff > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zPzff > :global(.__wab_flex-container) > picture > img,
.freeBox__zPzff
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__xbJy {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__s3PLx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__sbWoC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 12px) !important;
  padding-top: 0px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__r9NHb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__zfCg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.footerTopSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__aHbQo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__xvtxg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: #292d2f;
  min-width: 0;
  padding: 128px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xvtxg {
    padding-bottom: 35px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    min-height: 0;
  }
}
.foreground3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.freeBox__sZovz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sZovz > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sZovz > :global(.__wab_flex-container) > *,
.freeBox__sZovz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sZovz > :global(.__wab_flex-container) > picture > img,
.freeBox__sZovz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__lrs6I {
  padding-top: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__lrs6I {
    font-size: 32px;
  }
}
.text__rful3 {
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rful3 {
    font-size: 18px;
  }
}
.freeBox__fTsRx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fTsRx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fTsRx > :global(.__wab_flex-container) > *,
.freeBox__fTsRx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fTsRx > :global(.__wab_flex-container) > picture > img,
.freeBox__fTsRx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fTsRx > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__obFx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__obFx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__obFx > :global(.__wab_flex-container) > *,
.freeBox__obFx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__obFx > :global(.__wab_flex-container) > picture > img,
.freeBox__obFx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__gsE6 {
  background: #ffffff;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.button__gsE6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button__gsE6 > :global(.__wab_flex-container) > *,
.button__gsE6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__gsE6 > :global(.__wab_flex-container) > picture > img,
.button__gsE6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__iSyy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__yPkdD {
  color: #292d2f;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__r6Lu1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__sojCd {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sojCd {
    padding: 40px;
  }
}
.freeBox__xFlVe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.rowWrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  max-width: 1380px;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
.rowWrapper > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.rowWrapper > :global(.__wab_flex-container) > *,
.rowWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rowWrapper > :global(.__wab_flex-container) > picture > img,
.rowWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.rowWrapper {
  --plsmc-rc-col-gap: 0px;
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .rowWrapper {
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rowWrapper > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rowWrapper > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.colmn1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__lKhSj {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__svgEn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 0px;
  left: auto;
  top: auto;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link__swkZi {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #3291ff;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.colmn2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3___9Ozw {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___9UuZg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 556px;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__ryJui {
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__narvv {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: #292d2f;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__huyOg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__nkXcW {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.colmn22 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__pjMwn {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__rzg1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 556px;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__jPzAh {
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link___0Wh7U {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__tFtU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__xRuT0 {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.colmn3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__dcPc4 {
  position: relative;
  left: auto;
  top: auto;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___9ZpGg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link___2Dhpa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 6px;
  padding-bottom: 0px;
  color: #292d2f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link__vVqdF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  color: #292d2f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
